/* * {
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: table;
  background-color: red;
  width: 100%;
} */

* {
  padding: 0;
  /* margin: 0; */
}

html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

#root {
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: rgb(87, 167, 237);
}

nav ul {
  display: flex;
  list-style: none;
}

nav h2 {
  display: inline-block;
  color: #fff;
  text-align: center;
  left: 100%;
  width: 80px;
  font-weight: bold;
}

nav li {
  padding-left: 2rem;
  margin-top: 5%;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: #2f5b81;
  text-decoration: none;
}

.test {
  display: table;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(37, 74, 105);
}

footer p {
  color: #fff;
  padding: 10px;
  margin-top: 4%;
}

.social-img {
  height: 25%;
  width: 2%;
  position : absolute;
  background-color: rgb(37, 74, 105);
  bottom: 60%;
  left: 50%;
}